@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*
{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4d6ce;
  }
  
  a 
  {
    text-decoration: none;
  }
  
  a:hover {
    color: #c4947c;
    text-decoration: none;
  }

/* Navbar */
.navbar
{
  background: #ffe9e2;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
  height: 100px;
  width: 100%;
}
.navbar .navbar-brand
{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    color: #8b3c22; 
    text-shadow: 0 3px #c49484;
}
.navbar a img 
{
    height: 80px;
    width: 40%;
    padding: -30px;
    margin: 0 10px;
}


.navbar .navbar-nav 
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 60px;
    padding: 0 100px;
  }


  .navbar .navbar-nav li 
  {
    position: relative;
    margin: 0 10px;
  }
  .navbar .navbar-nav li a 
  {

    font-weight: bold;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #8b3c22; 
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus
  {
    color: #c4947c;
  }

  .navbar li:hover>a {
    color: #c4947c;
    text-decoration: underline #8b3c22 4px;
  }
  
  .navbar .dropdown .dropdown-menu 
  {
    background: #ffe9e2;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 100px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown .dropdown-menu  .dropdown-item:hover,
  .navbar .dropdown ul .active:focus,
  .navbar .dropdown ul:hover {
    color: #c4947c;
    text-decoration: underline #8b3c22 4px; 
 }


 @media only screen and (max-width: 900px)
  {
    .navbar 
    {
        height: 80px;
        width: 100%;
    }
    .navbar-toggler
    {
        margin-right: 40px;
        display: block;
        left: -200px;
    }
    .navbar .navbar-brand
    {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    color: #8b3c22; 
    text-shadow: 0 3px #c49484;
    margin-right: -20px;
    }
    
    .navbar a img 
    {
    height: 60px;
    width: 60%;
    padding: -30px;
    margin: 0 -5px;
    left: -60px;
    }
    .navbar-nav
    {
        background-color: #ffe9e2;
        float: left;
        text-align: left;
        width: 100%;
    }
    .navbar-nav .nav-item
    {
        width: 100%;
        left: -100px;
    } 

    .navdropdownmenu
    {
        width: 2700px;
    }
  
    .navbar li:hover>a {
      color: #c4947c;
      text-decoration: underline #8b3c22 4px;
    }
  }
  
  /* Footer */
  footer
  {
    height: 390px;
    background-color: #ffe9e2;
  }
  .menufooter
  {
    margin-top: 20px;
    width: 50%;
  }

  .horario
  {
    margin-top: 20px;
    font-size: 20px;
    width: 50%;
  }

  .derechosFooter
  {
    color: #c4947c;
  }

  .menufooter ul li a 
  {

    line-height: 30px;
    color: #8b3c22;
  }
  .menufooter ul li:hover
  {
    color: #c4947c;
    text-decoration: underline #8b3c22 4px;
  } 
  .horario p
  {
    line-height: 30px;
    color: #8b3c22;
  } 
  .redes a img
  {
    height: 50px;
    width: -5%;
    margin: 10px 20px;
  }

  /* Carrusel */
  .carousel-inner
  {
    width: 100%;
  }
  .carousel-inner .carousel-item img
  {
    width: 100%;
    height: 800px;
    opacity: 0.6;
    border-radius: 7px;
    filter: saturate(140%);
  }

  /* Acerca */
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    
  }
  
  .section-title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #8b3c22;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background:  #c4947c;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
    font-size: 20px;
  }
  .container ul
  {
    list-style: none;
    font-size: 20px;
  }


  @media only screen and (max-width: 900px)
  {
    footer
    {
      height: 400px;
      background-color: #ffe9e2;
    }
    .menufooter
    {
      margin-top: 20px;
      width: 50%;
    }
    .horario
    {
      margin-top: 20px;

      width: 50%;
    }
    .derechosFooter
    {
      color: #c4947c;
    }
  
    .menufooter ul li a
    {
      text-align: left;
      line-height: 20px;
      color: #8b3c22;
    }
    .menufooter ul li a:hover
    {
      color: #c4947c;
      text-decoration: underline #8b3c22 4px;
    } 
    .horario p
    {
      line-height: 20px;
      font-size: 15px;
      color: #8b3c22;
    } 
    .redes a img
    {
      height: 50px;
      width: -5%;
      margin: 10px 20px;
    }

    /* //////////////////////// */
    .carousel-inner .carousel-item img
    {
    width: 100%;
    height: 400px;
    opacity: 0.7;
    border-radius: 7px;
    filter: saturate(140%);
    }

    /* Acerca */
    .acerca
    {
      height: 380px;
    }
    .section-title 
    {
      text-align: center;
      padding-bottom: 30px;  
    }
    }

    @media only screen and (max-width: 500px)
    {
      footer
      {
        height: 495px;
      }

      /* //////////////////////// */
      .carousel-inner .carousel-item img
      {
        width: 90%;
        height: 300px;
        opacity: 0.7;
        border-radius: 7px;
        filter: saturate(140%);
      }
  
      /* Acerca */
      .acerca
      {
        height: 200px;
      }
      .section-title 
      {
        text-align: center;
        padding-bottom: 20px;  
      }

      .section-title h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #8b3c22;
      }
      .section-title h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background:  #c4947c;
        bottom: 0;
        left: calc(50% - 20px);
      }
      .section-title p {
        font-size: 15px;
      }
      .container ul
      {
        list-style: none;
        font-size: 15px;
      }

    }

